html {
  background-color: rgb(214, 236, 242);
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #369;
  font-size: 250%;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(68, 106, 196);
  cursor: pointer;
}

a:visited {
  color: rgb(165, 108, 213);
}

a:hover {
  color: rgb(232, 42, 30);
  cursor: pointer;
  font-style: italic;
}
