<div class="bookmarks-main-section">
  <h2>Useful Tech Interview Links</h2>
  <ul>
    <li
    *ngFor="let bookmark of bookmarks"
    [class.selected]="bookmark === selectedBookmark"
    (click)="onSelect(bookmark)"
    >
    <p>Article: '{{bookmark.name}}'</p>
    <a href="{{bookmark.url}}" target="_blank">The Link</a>
  </li>
  </ul>
</div>
<div
*ngIf="selectedBookmark" class="selected-container"
>
  <a href="{{selectedBookmark.url}}" target="_blank">
    <h2>Selected Bookmark: {{selectedBookmark.name | uppercase}}</h2>
  </a>
  <button
  type="submit"
  (click)="onDeleteBookmark(selectedBookmark.id)"
  >Delete Selected Bookmark</button>
</div>
<add-bookmark></add-bookmark>
