.bookmarks-main-section {
  text-align: center;
}

.bookmarks-main-section ul {
  margin: 50px auto;
}

.bookmarks-main-section ul li {
  background-color: rgb(225, 230, 231);
  border-radius: 5px;
  border: 1px solid rgb(214, 205, 201);
  list-style-type: none;
  margin: 30px auto;
  max-width: 60vw;
  padding-bottom: 10px;
}

.bookmarks-main-section p {
  font-weight: 600;
}

.bookmarks-main-section p:hover {
  cursor: pointer;
}

.bookmarks-main-section ul li a:link {
  color: rgb(68, 106, 196);
  cursor: pointer;
  text-decoration: none;
}

.bookmarks-main-section ul li a:visited {
  color: rgb(143, 198, 255);
  cursor: pointer;
}

.bookmarks-main-section ul li a:hover {
  color: rgb(232, 42, 30);
  cursor: pointer;
  font-style: italic;
}

.selected {
  font-size: 24px;
}

.selected-container h2 {
  color: rgb(76, 94, 219);
  text-align: center;
}

.selected-container h2:hover {
  color: rgb(232, 42, 30);
}

.selected-container a {
  cursor: pointer;
  text-decoration: none;
}

.selected-container a:hover {
  color: rgb(232, 42, 30);
}
