<div class="questions-container">
  <h2>Questions</h2>
  <h4>Click on a question to see its answer.</h4>
  <ul>
    <li
    *ngFor="let question of questions"
    (click)="onSelect(question)"
    >
    <h3>{{question.body}}</h3>
    <button
    type="submit"
    title="Delete Question"
    (click)="onDeleteQuestion(question.id)"
    >
    X
    </button>
    </li>
  </ul>
</div>
<div class="add-question-container">
  <h3>Add a Question!</h3>
  <input type="text" placeholder="Question" #body (keyup)="onKeyBody(body.value)" required/>
  <input type="text" placeholder="Answer" #answer (keyup)="onKeyAnswer(answer.value)"/>
  <input type="text" placeholder="Source" #sourceName (keyup)="onKeySourceName(sourceName.value)"/>
  <input type="text" placeholder="Source URL" #sourceUrl (keyup)="onKeySourceUrl(sourceUrl.value)"/>
  <button
  type="submit"
  (click)="onAdd()"
  >Add a Question!</button>
</div>
