.questions-container {
  background-color: rgb(225, 230, 231);
  border: 1px solid rgb(214, 205, 201);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 70vw;
  text-align: center;
}

.questions-container h2 {
  font-size: 32px;
  margin: 40px auto;
}

.questions-container ul li {
  cursor: pointer;
  list-style-type: none;
  margin: 30px auto;
}

.questions-container ul li:hover {
  font-style: italic;
}

.questions-container h3 {
  display: inline-block;
}

.questions-container h4 {
  font-style: italic;
  margin-bottom: 50px;
}

.questions-container button {
  background: none;
  border: none;
  color: #ee0000;
  font-size: 1.3em;
}

.questions-container button:hover {
  cursor: pointer;
}

.add-question-container {
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 80px auto;
  max-width: 70vw;
  padding-bottom: 20px;
  text-align: center;
}

.add-question-container input {
  display: block;
  margin: 20px auto;
}

.add-question-container button {
  border-radius: 5px;
}

.add-question-container button:hover {
  background-color: #ffffff;
  cursor: pointer;
}
