.question-detail-component {
  background-color: rgb(225, 230, 231);
  border: 1px solid rgb(214, 205, 201);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 60vw;
  padding: 30px;
  text-align: center;
}

.question-detail-component h2, h3, a {
  margin: 40px auto;
}

.question-detail-component h2 {
  font-size: 30px;
}

.question-detail-component h3 {
  line-height: 25px;
}

.question-detail-component button {
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}

.question-detail-component button:hover{
  background-color: #ffffff;
  cursor: pointer;
}
